html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(325deg, rgba(40, 36, 54, 1) 0%, rgba(41, 54, 70, 1) 51%, rgba(38, 40, 60, 1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.page {
    
}
input[type="text"]{
    border: 2px solid gray;
    border-radius: 3px;
}
input:required{
    border-color: lightcoral;
}
label{

}