<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ head | safe }}
    <title>Glitched Dev Team</title>

    <meta content="" property="og:title" />
    <meta content="" property="og:description" />
    <meta content="" property="og:url" />

    <meta content="" property="og:image" />
</head>

<body>
    <div class="page">
        {{ header | safe }}
        <div class="space" style="padding: 50px;"></div>
        <section>

        </section>
    </div>
</body>

</html>