<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Персонаж не найден!" property="og:title"/>
      <meta content="Персонаж {{ id }} не найден" property="og:description"/>
      <meta content="" property="og:url"/>
      <!-- <meta content="#1f445e" property="og:color"/> -->
      <!-- <meta content="" property="og:image"/> -->
    {{ head | safe}}
    <title>Персонаж не найден</title>
</head>
<body>
    {{ header | safe }}
</body>
</html>