<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <a href="/"><img src="/static/assets/img/logo.png" alt="Логотип сайта" id="logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about">О нас</a>
                        <ul>
                            <a href="/about/projects">Проекты</a>
                        </ul>
                        <ul>
                            <a href="/about/employee">Сотрудники</a>
                        </ul>
                    </li>
                    <li><a href="/docs">Документация</a>
                        <ul>
                            <a href="/docs/API/ATK">ATK API</a>
                        </ul>
                        <ul>
                            <a href="/docs/API/DB">API базы данных</a>
                        </ul>
                        <ul>
                            <a href="/docs/MnL">MnL 1.0 Python edition</a>
                        </ul>
                        <ul>
                            <a href="/docs/nerdcord_MnL">Nerdcord MnL</a>
                        </ul>
                        <!-- TODO: сказать гугру сделать документацию -->
                    </li>
                    <li><a href="/profile">Аккаунт и настройки</a>
                        <ul>
                            <a href="/register">Регистрация и вход</a>
                        </ul>
                        <ul>
                            <a href="/profile">Профиль</a>
                        </ul>
                        <ul>
                            <a href="/settings">Настройки</a>
                        </ul>
                    </li>
                    <!-- TODO: !!!БОЛЬШЕ РАЗДЕЛОВ БОГУ РАЗДЕЛОВ!!! -->
                    <!-- <li><a href="#">Контакты</a>
                        <ul>
                        </ul>
                    </li> -->
                </ul>
            </nav>
        </div>
        <section>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magni aliquam fugit. Asperiores iure
                laudantium neque reprehenderit labore, molestias expedita non, nostrum, dolor perspiciatis aperiam vitae
                debitis illum eaque consequuntur.</p> -->
        </section>
    </div>
</body>

</html>