<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/register.js"></script>

    <title>GDT | Регистрация</title>
</head>

<body>
    <div class="page">
        <div class="form-wrapper form-register">
            <form action="#" method="POST" id="registrationForm">
                <div class="form-header">
                    <h1>Регистрация</h1>
                </div>
                
                <label for="username"><b>Имя пользователя</b><br></label>
                <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
                <p></p>
                <label for="login"><b>Логин</b><br>Допускаются только английские буквы, цифры, точки, _ и -<br></label>
                <input type="text" id="login" name="login" placeholder="Логин" required pattern="[a-zA-Z0-9\-\_\.]"
                    maxlength="32">
                <p></p>
                <label for="password"><b>Пароль</b><br></label>
                <input type="password" id="password" name="password" placeholder="Пароль" required>
                <p></p>
                <label for="password1"><b>Повторите пароль</b><br></label>
                <input type="password" id="password1" name="password" placeholder="Пароль. Снова" required>
                <p></p>

                <input type="checkbox" name="TOS" id="TOS" required><label for="TOS">Я согласен с <a
                        href="/TOS">условиями сервиса</a></label>
                <hr>
                <input type="submit" name="submit" id="submit" title="Зарегистрироваться">
            </form>

            <div id="message"></div>
            <script src="/static/registerForm.js"></script>
        </div>
    </div>
</body>

</html>